body {
  height: 100vh;
  margin: 0 auto;
  width: 35%;
  max-width: 350px;
  background-color: #FED75A;
  color: #EC6D76;
  font-family: Courier;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
}

header h1 a {
  text-decoration: none;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  & .navButton {
    font-size: 3em;
    text-decoration: none;
    user-select: none;

    flex: 0 1 auto;
  }

  & span {
    align-self: center;
  }

  & .navButton:last-child {
    align-self: flex-end;
  }
}


main {
  margin: 0 auto;
}

main section {
  border-top: 2px dashed rgb(148, 195, 223);
  margin-top: 2em;
  padding: 0 2em;
}

a {
  color: inherit;
}

footer {
  margin-top: 8em;
  font-size: 0.6em;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td, th {
  text-align: right;
  padding: 3px 10px 3px 10px;
  border-right: 2px dashed rgb(148, 195, 223);
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
   border-right: 0;
   text-align: left;
}

th {
  border-bottom: 2px dashed rgb(148, 195, 223);
  text-align: left;
}

#names {
  border: 0;
  margin-bottom: 2em;
  background: inherit;
  font-family: Courier;
  color: #EC6D76;
  font-weight: bold;
  text-align: center;
  font-size: 0.7em;
}
