name: Build website

on:
  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4
      - name: Generate personal .ics files
        run: pip install ics && python3 personalschedule.py
      - name: Convert csv data to json
        run: python3 csv2json.py
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./weektaak

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
